<!DOCTYPE html>
<html lang="en" id="root" class="small-size">
<head>
    <meta charset="UTF-8">
    <title>Credit Card Payment Calculator</title>
    {{#each src.styles}}
        <link rel="stylesheet" type="text/css" href="{{this}}">
    {{/each}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body id="viewport" class="main-view">
    <header class="header pure-g">
        <h1>Calculadora crédito</h1>
        
        {{!-- 
        <div class="font-size-widget pure-u-1-6 pure-u-lg-1-12">
            <a href="#small-size" class="small-size font-size-widget--active" data-size="small-size" title="Use default font size">A</a>
            <a href="#medium-size" class="medium-size" data-size="medium-size" title="Use bigger font size">A</a>
            <a href="#big-size" class="big-size" data-size="big-size" title="Use biggest font size">A</a>
        </div> 
        --}}
    </header>

    <section class="inputFields">
        <label for="purchaseInput">VALOR COMPRA:</label>
        <input class="purchaseInput" id="purchaseInput" type="text" name="" maxlength="11" title="Indique aqu&iacute; el valor en pesos de su compra" onchange="creditCard.calcule()" value="0">
        <br>

        <label for="cuotaSelect">N&uacute;mero de cuotas: </label>
        <select class="cuotaSelect" id="cuotaSelect" name="cuotaSelect" onchange="creditCard.calcule()"></select>
        <br>

        <label for="interestRate">Tasa de inter&eacute;s Mensual: </label>
        <input class="interestRate" id="interestRate" type="text" value="2" name="interestRate" maxlength="4" title="Digite la tasa de inter&eacute;s mensual que le cobra su entidad."> (0% > 2,19%) <br>
        <div class="limit_tasa">La cifra excede el valor de las tasas del mercado. Una cifra mayor a 2,19% está por encima de la tasa de usura.</div>
        
        <a class="button" href="javascript:creditCard.calcule()">CALCULAR</a>
        <a class="button" href="javascript:creditCard.clean()">LIMPIAR</a>
    </section>

    <section class="outputResult">
        <p class="nota_cuotas">
            Si el valor de su compra fue $<strong class="valor_compra">0</strong>, el pago total ser&aacute; aproximadamente de $<strong class="pago_total">0</strong>
        </p>
        <p class="nota_cuota_value">
            Cuota mensual a pagar: $<span class="quotaValue">0</span>
        </p>

        Los c&aacute;lculos dados en esta calculadora son una aproximaci&oacute;n a la cuota que le cobrar&aacute; su banco por la utilizaci&oacute;n de la tarjeta de cr&eacute;dito. Sin embargo, la suma puede cambiar en comparaci&oacute;n con la que le cobra su entidad financiera porque:
        <p>
    NOTA: 
                <ul>
                    <li>Puede incluir el cobro de la cuota de manejo de la tarjeta de cr&eacute;dito.</li>
                    <li>Las tasas de los bancos son variables mes a mes y el saldo se puede alterar por el alza o baja de la tasa.</li>
                    <li>La entidad financiera puede incluir el valor del seguro.</li>
                </ul>
                Recuerde que la tasa de inter&eacute;s que debe utilizar es mensual vencida. En caso de necesitarlo, utilice nuestra calculadora <a href="http://www.finanzaspersonales.com.co/calculadoras/articulo/conversion-tasas/39936" target="_blank">Conversi&oacute;n de Tasas de Inter&eacute;s</a> para obtener la tasa adecuada para hacer el c&aacute;lculo.
            </p>
        <table class="table_result">
            
        </table>
    </section>

    <input type="hidden" name="ctl35$Calculadora1$hfPrefijo" id="ctl35_Calculadora1_hfPrefijo" value="TarjetaCredito">
    
    {{!-- 
    {{! hero content}}
    {{! venues list}}
    {{#if rsvp.venues.length}}
    <ul class="venues__list pure-g">
        {{#each rsvp.venues}}
            <li class="pure-u-1-2 pure-u-md-1">
                {{> event this}}
            </li>
        {{/each}}
    </ul>
    {{/if}}

    {{! microdata for contact }}
    <footer class="footer">
         <div class="footer__viewport">
            <nav class="footer__navigation block">
                <h2 class="hidden">Navigation</h2>
                 <ul class="footer__navigation__items">
                    {{#each footer.nav}}
                        <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                    {{/each}}
                 </ul>
             </nav>
             <p class="footer__legal">gfgh<strong itemprop="telephone">{{mainPhone}}.</strong>
             </p>
            <ul class="footer__copyright pure-g">
                <li class="pure-u-1 pure-u-md-1-3">Y0001_4037_7363 Accepted 03/2016</li>
                <li class="pure-u-1 pure-u-md-1-3">Copyright © 2001-{{now 'YYYY'}} Aetna Inc.</li>
                <li class="pure-u-1 pure-u-md-1-3">Page last updated {{now 'MMMM DD, YYYY'}} </li>
             </ul>
        </div>
    </footer>
    {{> modal}}
    --}}
    {{#each src.scripts}}
    <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
    Latest update: {{now }}
</body>
</html>
